
.agent_data_input{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.components_title{
   text-decoration: underline;
   text-decoration-thickness: 2px;
   padding-top: 10rem;
}
.checkbox_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid blueviolet; */
    width: 100%;
    margin-top: 1rem;
    max-height: 8rem;
    overflow: auto;
    
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #5E17EB;
}

::-webkit-scrollbar-thumb {
  background-color: #5E17EB;
  outline: 1px solid #000000;
}
#checkbox_input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: .2rem;
}