:root{
    --bgclr: #ece6e0;
    --fclr: #000000;
    --highlight: #5E17EB;
    --btnclr:  #231F20;
    --warning: rgb(255, 0, 0);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Monospace;
    font-weight: bold;
}
body{
    background-color: var(--bgclr);
    /* border: 2px solid red; */
    height: 100vh;

}
.nav{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 2rem;

}


nav input{
    width: 20%;
    margin: 0 5%;
    height: 100%;
    background: none;
    border: none;
}

main{
    border: .5px solid var(--btnclr);
    width:100%;
    position: relative;
    margin: auto;
    padding: 2rem;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 4fr;

}

.model_title_section{
    display: grid;
    grid-template-columns: 2fr 2fr .5fr 1.5fr;
    gap: 4px;
    align-items: center;
}

.upload_button{
    border: 2px solid var(--btnclr);
    text-align: center;

}

.upload_button:hover{
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
}
input[type="text"]{
    background: none;
    border: none;
    border-bottom: 2px solid var(--btnclr)
}

input[type="text"]:focus{
    outline-style: none;
    border-bottom: 2px solid var(--highlight);
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgclr);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-content input {
    width: 100%;
  }
  
  .dropdown-content input:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;}

  .error_message{
    color: var(--warning);
  }