:root{
    --bgclr: #ece6e0;
    --fclr: #000000;
    --highlight: #5E17EB;
    --highlight_light: #5e17eb62;
    --btnclr:  #231F20;
    --editclr: #4AFF00

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Monospace;
    text-transform: none;
    font-weight: bold;
}
body{
    background-color: var(--bgclr);
    /* border: 2px solid red; */
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-rows: .5fr 3.5fr;
}

nav{
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* align-items: center; */
    margin: auto;
    width: 100%;
    gap: 1rem;

}

.main_nav{
    /* border: 2px solid orange; */
    margin: auto;
    align-items: center;
    width: 100%;
}

.main_nav form{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav_form input{
    background: none;
    margin: auto;
    border: none;
}

.sub_nav{
    /* border: 2px solid purple; */
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sub_nav input{
    border: none;
    background: none;
}
.sub_nav #save_model_type{
    font-style: italic;
}

main{
    border: .5px solid var(--btnclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px 8px;
    width:90%;
    position: relative;
    margin: auto;
    padding: 2rem;
    height: 80%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    overflow: auto;


}

main section{
    align-self: center;

}

.input_fields_section form{
    height: 100%;
    display: grid;
    flex-direction: column;
    grid-template-rows: .5fr 2fr 1fr;
}


form input[type="text"]{
    background: none;
    border:none;
    border-bottom: 2px solid black;
    width: 100%;
}
input[type="text"]:focus{
    outline-style: none;
    background-color: none;
    border-bottom: 2px solid var(--highlight);
}


form input[type="submit"]:focus{
    outline-style: none;
    background-color: var(--highlight);
}


form input[type="submit"]:hover{
    box-shadow: var(--highlight) 0px 2px 2px 2px;
}

.form_title{
    padding-right: .8rem;
    display:grid;
    grid-template-columns: 3fr 1fr;
}

#inner_title{
    display: grid;
    margin: 1rem auto;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


#attribute{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.4rem .8rem;
}
.input_fields_section{
    object-fit: cover;
}

.output_window{
    display: grid;
    background-color: var(--btnclr);
    grid-template-rows: .3fr 3fr;
    padding-top: 5%;
    color: white;
    height: 90%;
    margin-left: 5%;
    object-fit: cover;
    overflow: auto;
}

.output_window .title{
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    /* border-bottom: 2px solid white; */
    margin: auto;
    margin-bottom: 1rem;
}

.output_window .components{
    margin-left: 5%;
}

/* AGENT TAB STYLES */


.dropbtn {
    border: none;
    border-bottom: 2px solid black;
  }

.checkbox_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid blueviolet; */
    width: 100%;
    margin-top: 1rem;
    max-height: 10rem;
    overflow: auto;
    
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #5E17EB;
}

::-webkit-scrollbar-thumb {
  background-color: #5E17EB;
  outline: 1px solid #000000;
}



#checkbox_input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: .2rem;
    border: 2px solid purple;
}
#submit_agent{
    align-self: center;
}


/* system tab styles */
.text_editor{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: rgb(43, 255, 0);
    align-items: start;
}

#generate_code_button{
    color:green;
    margin: 1rem;
    
}


.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgclr);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-content input {
    width: 100%;
  }
  
  .dropdown-content input:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;}

  .error_message{
    color: var(--warning);
  }


/* Model Styles */
