:root{
    --bgclr: #ece6e0;
    --fclr: #000000;
    --highlight: #5E17EB;
    --btnclr:  #231F20;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Monospace;
    text-transform: uppercase;
    font-weight: bold;
}
body{
    background-color: var(--bgclr);
    /* border: 2px solid red; */
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-rows: .5fr 3fr;
}
.nav{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 100%;

}


nav input{
    width: 20%;
    margin: 0 5%;
    height: 100%;
    background: none;
    border: none;
}

main{
    border: 2px solid var(--btnclr);
    width:90%;
    position: relative;
    margin: auto;
    padding: 2rem;
    height: 80%;
    display: grid;
    grid-template-columns: 6fr 4fr;

}

main section{
    /* border: 2px solid rgb(5, 234, 241); */
    align-self: center;

}

form{
    height: 100%;
    /* background-color: pink; */
    display: grid;
    flex-direction: column;
    grid-template-rows: .5fr 2fr 1fr;
}

form input[type="text"]{
    background: none;
    border:none;
    border-bottom: 2px solid black;
    width: 100%;
}


.form_title{
    padding-right: .8rem;
    display:grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
#attributes_title{
    display: grid;
    margin-bottom: 1rem;
   
}


#attribute{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.4rem .8rem;
}
.input_fields_section{
    object-fit: cover;
}

input[type="submit"]{
    background:none;
    min-width: 2rem;
    /* width: auto; */
    float: right;
    height: 2rem;
    margin-right: .8rem;
}

.output_window{
    display: grid;
    background-color: var(--btnclr);
    grid-template-rows: .3fr 3fr;
    padding-top: 5%;
    color: white;
    height: 90%;
    margin-left: 5%;
    object-fit: cover;
}

.output_window .title{
    border: none;
    border-bottom: 2px solid white;
    margin: auto;
    margin-bottom: 1rem;
}

.output_window .components{
    margin-left: 5%;
}
