:root{
    --bgclr: #ece6e0;
    --fclr: #000000;
    --highlight: #5E17EB;
    --btnclr:  #231F20;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Monospace;
    text-transform: uppercase;
    font-weight: bold;
}
body{
    background-color: var(--bgclr);
    /* border: 2px solid red; */
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-rows: .5fr 3fr;
}
.nav{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 100%;

}


nav input{
    width: 20%;
    margin: 0 5%;
    height: 100%;
    background: none;
    border: none;
}

nav input:focus{
    color: var(--highlight);
    cursor:grab;
}
nav input:hover{
    cursor:pointer;
}

main{
    border: .5px solid var(--btnclr);
    width:90%;
    position: relative;
    margin: auto;
    padding: 2rem;
    height: 80%;
    display: grid;
    grid-template-columns: 6fr 4fr;

}

main section{
    align-self: center;

}

form{
    height: 100%;
    display: grid;
    flex-direction: column;
    grid-template-rows: .5fr 2fr 1fr;
}

form input[type="text"]{
    background: none;
    border:none;
    border-bottom: 2px solid black;
    width: 100%;
}
input[type="text"]:focus{
    outline-style: none;
    background-color: none;
    border-bottom: 2px solid var(--highlight);
}


.form_title{
    padding-right: .8rem;
    display:grid;
    grid-template-columns: 3fr 1fr;
}
#inner_title{
    display: grid;
    margin: 1rem auto;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


#attribute{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.4rem .8rem;
}
.input_fields_section{
    object-fit: cover;
}

input[type="submit"]{
    background:none;
    min-width: 2rem;
    /* width: auto; */
    float: right;
    height: 2rem;
    margin-right: .8rem;
}

input[type="submit"]:focus{
    outline-style: none;
    background-color: (var(--highlight));
}


.output_window{
    display: grid;
    background-color: var(--btnclr);
    grid-template-rows: .3fr 3fr;
    padding-top: 5%;
    color: white;
    height: 90%;
    margin-left: 5%;
    object-fit: cover;
}

.output_window .title{
    border: none;
    border-bottom: 2px solid white;
    margin: auto;
    margin-bottom: 1rem;
}

.output_window .components{
    margin-left: 5%;
}

/* AGENT TAB STYLES */


.dropbtn {
    border: none;
    border-bottom: 2px solid black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgclr);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-content input {
    width: 100%;
  }
  
  .dropdown-content input:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;}
  
.simple{
    visibility: hidden;
}
.complex{
    visibility: visible;
}
.checkbox_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid blueviolet; */
    width: 100%;
    margin-top: 1rem;
    max-height: 10rem;
    overflow: auto;
    
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #5E17EB;
}

::-webkit-scrollbar-thumb {
  background-color: #5E17EB;
  outline: 1px solid #000000;
}
#checkbox_input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: .2rem;
}
#submit_agent{
    align-self: center;
}


/* system tab styles */
.text_editor{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: rgb(43, 255, 0);
    align-items: start;
}