{%extends "base.html"%}
{%block title%}Agents{%endblock%}
{%block input_fields%}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='agent_styles.css')}}" > -->

<form action="/agents" method="post" class="agents_form">
    <section class="form_title">
        <label for="name">Name</label>
        <input type="text" name="agent_name" id="agent_name">
        <label for="type">Type</label>
        <input type="text" name="agent_type" id="agent_type">
        <label for="class_component">class component</label>
        <input type="text" name="agent_class_name">
    </section>
    <section class="form_attributes">
        <label for="components" class="components_title">Select components to be associated with this agent</label>
        <div class="checkbox_section">
            {%for i in range (70)%}
            <div id="checkbox_input">
                <input type="checkbox" name="component_to_add" id={{i}} value="comp{{i}}">
                <label for="comp1">Component {{i}}</label>
            </div>
            {%endfor%}
        </div>
    </section>

    <input type="submit" name="add_to_agent" value="Add Components">

    <input type="submit" name="add_to_agent" value="Add Agent">
</form>
{%endblock%}