{%extends "base.html"%}

{%block stylesheet%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='model_styles.css')}}" >
{%endblock%}

{%block highlight_model%}
    style="color:#5E17EB;"
{%endblock%}

{% block sub_nav%}

    <section >
        {% if model_type == "COMPLEX" %}
            {% if view == 1 %}
            <form action="/model_nav" method="post">
                <input type="submit" name="submit_action" value="1. Add input parameters" >
                <input type="submit" name="submit_action" value="2. Add class components" disabled >
                <input type="submit" name="submit_action" value="3. Add agents" disabled>
                <input type="submit" name="submit_action" value="4. Add systems" disabled>
            </form>
            {%endif%}
            {% if view == 2 %}
                <form action="/model_nav" method="post">
                    <input type="submit" name="submit_action" value="1. Add input parameters" >
                    <input type="submit" name="submit_action" value="2. Add class components" >
                    <input type="submit" name="submit_action" value="3. Add agents" disabled>
                    <input type="submit" name="submit_action" value="4. Add systems" disabled>
                </form>
            {%endif%}
            {% if view == 3 %}
                <form action="/model_nav" method="post">
                    <input type="submit" name="submit_action" value="1. Add input parameters" >
                    <input type="submit" name="submit_action" value="2. Add class components" >
                    <input type="submit" name="submit_action" value="3. Add agents" >
                    <input type="submit" name="submit_action" value="4. Add systems" disabled>
                </form>
            {%endif%}
            {% if view == 4 %}
                <form action="/model_nav" method="post">
                    <input type="submit" name="submit_action" value="1. Add input parameters" >
                    <input type="submit" name="submit_action" value="2. Add class components" >
                    <input type="submit" name="submit_action" value="3. Add agents" >
                    <input type="submit" name="submit_action" value="4. Add systems" >
                </form>
            {%endif%}
        {%endif%}

        {%if model_type == "SIMPLE" %}
            {% if view == 1 %}
                <form action="/model_nav" method="post">
                    <input type="submit" name="submit_action" value="1. Add input parameters" >
                    <input type="submit" name="submit_action" value="2. Add agents" disabled>
                    <input type="submit" name="submit_action" value="3. Add systems" disabled>
                </form>
            {%endif%}
            {% if view == 3 or view==2 %}
                <form action="/model_nav" method="post">
                    <input type="submit" name="submit_action" value="1. Add input parameters" >
                    <input type="submit" name="submit_action" value="2. Add agents" disabled>
                    <input type="submit" name="submit_action" value="3. Add systems" disabled>
                </form>
            {%endif%}
            {% if view == 4 %}
            <form action="/model_nav" method="post">
                <input type="submit" name="submit_action" value="1. Add input parameters" >
                <input type="submit" name="submit_action" value="2. Add agents" >
                <input type="submit" name="submit_action" value="3. Add systems" disabled>
            </form>
            {%endif%}
        {%endif%}
    </section>
    <section class="error_message">
        <p>{{error_message}}</p>
    </section>
{%endblock%}

{% block model_fields%}
    {% if view == 1 %}
        <form action="/model" method="post" class="model_form">
            <section class="form_title">
                <input name="state" value = {{view}} hidden>
                <label for="model_name">Name of Model</label>
                <input type="text" name="model_name" required value={{model_name}}>
            </section>
            <section>
                <label for="input_params_list" id="inner_title">Add input parameters</label>
               
                <div id="attribute">
                    <label for="name_of_model">Data type</label>
                    <div class="dropdown">
                        {% if not dataType %}
                            <label class="dropbtn">Choose Data Type<label>
                        {% else %}
                            <label class="dropbtn">{{dataType}}<label>
                        {% endif %}
                            <div class="dropdown-content">
                                {% for i in dataTypes %}
                                    <input type="submit" name="submit_action" id="agent_type" value={{i}} placeholder={{dataType}}>
                                {% endfor %}
                            </div>
                    </div>
                    <!-- <input type="text" name="data_type" id=""> -->
                </div>

                <div id="attribute">
                    <label for="name_of_model">Name</label>
                    <input type="text" name="name" id="" value={{param_name}}>
                </div>
            </section>
            <section class="submit_component">
                <input type="submit" name="submit_action" value ="Add parameter">
                <input type="submit" name="submit_action" value ="Save input parameters">
            </section>
        </form> 
    {%endif%}

    {% if view == 2 %}
        <form action="/model" method="post" class="model_form">
            <section class="form_title">
                    <input name="state" value = {{view}} hidden>
                    <label for="model_name">Name of Model</label>
                    <input type="text" name="model_name" required value={{model_name}}>
            </section>
            <section class="form_attributes">
                <label for="Component_attributes_form" id="inner_title">Add class component</label>
                <div id="attribute">
                    <label for="name_of_component">Name of agent</label>
                    <!-- Drop down to select agents -->
                    <div class="dropdown">
                        {% if not name_of_agent %}
                            <label class="dropbtn">Choose Agent<label>
                        {% else %}
                            <label class="dropbtn">{{name_of_agent}}<label>
                        {% endif %}
                        <div class="dropdown-content">
                            {% for i in all_agents %}
                                <input type="submit" name="submit_action" id="agent_type" value={{i}}>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="attribute">
                    <label for="name_of_component">Name of component</label>
                        <!-- Drop down to select agents -->
                    <div class="dropdown">
                        {% if not name_of_component %}
                            <label class="dropbtn">Choose Component<label>
                        {% else %}
                            <label class="dropbtn">{{name_of_component}}<label>
                        {% endif %}
                        <div class="dropdown-content">
                            {% for i in all_components %}
                                <input type="submit" name="submit_action" id="agent_type" value={{i}}>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="checkbox_section">
                <label for="checkbox" id="inner_title">Select component attribute(s) to associate with class component</label>
                    <!-- Drop down to select agents -->
                <div id="checbox_container">
                    {%for i in input_params %}
                    <div id="checkbox_input">
                        <input type="checkbox" name="params_to_add" id={{i}} value="{{i}}">
                        <label for="comp1">{{i["Name"]}}</label>
                    </div>
                    {%endfor%}
                </div>
            </section>
            <section class="submit_component">
                <input type="submit" name="submit_action" value ="Add class component">
                <input type="submit" name="submit_action" value ="Save class components">
            </section>
        </form> 
    {%endif%}

    {% if view == 3 %}
    <form action="/model" method="post" class="model_form">
        <section class="form_title">
                <input name="state" value = {{view}} hidden>
                <label for="model_name">Name</label>
                <input type="text" name="model_name" required value={{model_name}}>
        </section>
        <section class="form_attributes">
            <label for="Component_attributes_form" id="inner_title">Add Agents</label>
            <div id="attribute">
                <label for="name_of_component">Name of agent</label>
                <!-- Drop down to select agents -->
                <div class="dropdown">
                    {% if chosen_agent%}
                        <label class="dropbtn">{{chosen_agent}}<label>
                    {% else %}
                        <label class="dropbtn">Choose agent<label>
                    {% endif %}
                    <div class="dropdown-content">
                        {% for i in all_agents %}
                            <input type="submit" name="submit_action" id="agent_type" value={{i}}>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="checkbox_section">
            <label for="checkbox" id="inner_title">Select input parameter to associate with {{chosen_agent}} Agent</label>
                <!-- Drop down to select agents -->
            <div id="checbox_container">
                {%for i in input_params %}
                <div id="checkbox_input">
                    <input type="radio" name="params_to_add" id={{i}} value="{{i}}">
                    <label for="comp1">{{i["Name"]}}</label>
                </div>
                {%endfor%}
            </div>
        </section>
        <section class="submit_component">
            <input type="submit" name="submit_action" value ="Add agent to model">
            <input type="submit" name="submit_action" value ="Save agents">
        </section>
    </form> 
    {%endif%}

    {% if view == 4 %}
    <form action="/model" method="post" class="model_form">
        <section class="form_title">
                <input name="state" value = {{view}} hidden>
                <label for="model_name">Name</label>
                <input type="text" name="model_name" required value={{model_name}}>
        </section>
        <section class="form_attributes">
            <label for="Component_attributes_form" id="inner_title">Add Systems</label>

            <div id="attribute">
                <label for="system_id">System ID</label>
                    <input required type="text" name="system_id" id="" value={{system_id}} >
            </div>

            <div id="attribute">
                
                <label for="name_of_component">Name of system</label>
                <!-- Drop down to select agents -->
                <div class="dropdown">
                    {% if chosen_system%}
                        <label class="dropbtn">{{chosen_system}}<label>
                    {% else %}
                        <label class="dropbtn">Choose system<label>
                    {% endif %}
                    <div class="dropdown-content">
                        {% for i in all_systems %}
                            <input type="submit" name="submit_action" id="agent_type" value={{i}}>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="checkbox_section">
            <label for="checkbox" id="inner_title">Select input parameter(s) to associate with {{chosen_agent}} System</label>
                <!-- Drop down to select agents -->
            <div id="checbox_container">
                {%for i in input_params %}
                <div id="checkbox_input">
                    <input type="checkbox" name="params_to_add" id={{i}} value="{{i}}">
                    <label for="comp1">{{i["Name"]}}</label>
                </div>
                {%endfor%}
            </div>
        </section>
        <section class="submit_component">
            <input type="submit" name="submit_action" value ="Save System">
            <input type="submit" name="submit_action" value ="Save systems and execute model">
        </section>
    </form> 
    {%endif%}

{% endblock %}

{%block output_window%}
    {% if view == 1%}
        <h2 class="title"> Saved input parameters </h2>
        <form action="component_tab" method="post">
            <div class="components">
                {%for i in input_params%}
                    <!-- <input type="submit" name="submit_results" id="" value={{i}}> -->
                    <p>{{i["Name"]}}</p>
                {%endfor%}
            </div>
        </form>
    {% endif %}

    {% if view == 2%}
    <h2 class="title"> Saved class components </h2>
    <div class="components">
        {%for i in all_class_components%}
            <!-- <input type="submit" name="submit_results" id="" value={{i}}> -->
            <p>{{i["Name_of_agent"]}}</p>
        {%endfor%}
    </div>
    {% endif %}

    {% if view == 3%}
    <h2 class="title"> Agents for model {{model_name}}</h2>
    <div class="components">
        {%for i in current_model_agents%}
            <!-- <input type="submit" name="submit_results" id="" value={{i}}> -->
            <p>{{i["Name_of_agent"]}}</p>
        {%endfor%}
    </div>
    {% endif %}

    {% if view == 4%}
    <h2 class="title"> Systems for model {{model_name}}</h2>
    <div class="components">
        {%for i in saved_systems%}
            <!-- <input type="submit" name="submit_results" id="" value={{i}}> -->
            <p>{{i["system_id"]}}</p>
        {%endfor%}
    </div>
    {% endif %}
    

{% endblock %}