
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='model_styles.css')}}" >

<title>Model</title>

<body>
    <nav>
        <form action="/" method="post" class="nav">
            <input type="submit" name="browse" value="Components">
            <input type="submit" name="browse" value="Agents">
            <input type="submit" name="browse" value="Systems">
            <input type="submit" name="browse" value="Models" style="color:#5E17EB;">
        </form>
    </nav>
    <main>
        <section class="model_input_fields">
            <form action="model" method="post">
                    <label for="model_name">Name</label>
                    <input type="text" name="model_name" required>
                    <section class="input_parameters">
                        <br>
                        <section >
                            <label for="input_parameters">Add input parameters</label>
                        </section>
                        <label for="name_of_model">Name</label>
                        <input type="text" name="name" id="">
                        <br>
                        <label for="name_of_model">Data type</label>
                        <input type="text" name="data_type" id="">
                        <input type="submit" name="submit_action" value ="Save input parameters">
                    </section>
                    <!-- <p>or</p>
                    <label for="model_file" class="upload_button">
                        <input type="file" name="model_file" id="model_file" >
                        upload a .py file
                    </label> -->
            </form>
        </section>
    </main>
</body>

<script>
    async function getRequest(url = '') {
    const response = await fetch(url, {
        method: 'GET',
        cache: 'no-cache'
    })
    return response.json()
}
document.addEventListener('DOMContentLoaded', function () {
    let url = document.location
    let route = "/flaskwebgui-keep-server-alive"
    let interval_request = 3 * 1000 //sec
    function keep_alive_server() {
        getRequest(url + route)
            .then(data => console.log(data))
    }
    setInterval(keep_alive_server, interval_request)()
})
</script>