
{%block stylesheet%}{%endblock%}

<title>{%block title%}{%endblock%}</title>

<body>
    <nav>
        <form action="/" method="post" class="nav">
            <input type="submit" name="browse" value="Components" {%block highlight_comp%}{%endblock%}>
            <input type="submit" name="browse" value="Agents" {%block highlight_agent%}{%endblock%}>
            <input type="submit" name="browse" value="Systems" {%block highlight_system%}{%endblock%}>
            <input type="submit" name="browse" value="Models">
        </form>
    </nav>
    <main>
        <section class="input_fields_section">
            {%block input_fields%}
            {%endblock%}
        </section>
        <section class="output_window ">
            {%block output_window%}
            {%endblock%}
        </section>
    </main>
</body>

<script>
    async function getRequest(url = '') {
    const response = await fetch(url, {
        method: 'GET',
        cache: 'no-cache'
    })
    return response.json()
}
document.addEventListener('DOMContentLoaded', function () {
    let url = document.location
    let route = "/flaskwebgui-keep-server-alive"
    let interval_request = 3 * 1000 //sec
    function keep_alive_server() {
        getRequest(url + route)
            .then(data => console.log(data))
    }
    setInterval(keep_alive_server, interval_request)()
})
</script>