{% extends "base.html" %}

{% block title %}
Data Collector
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block highlight_comp %}
style="color:#5E17EB;"
{% endblock %}

{% block input_fields %}
<form action="/dataCollector" method="post" class="input_param_form">
    <section class="form_title">
        <label for="Name_of_component">Data Collector</label>
    </section>
    <section class="form_attributes">
        <label for="Component_attributes_form" id="inner_title">Select Complex Agents</label>
        <div id="checkbox_container">
            {% for agent in complex_agents %}
            <div id="checkbox_input">
                <input type="checkbox" name="selected_agents" id={{agent}} value="{{agent}}">
                <label for="comp1">{{agent}}</label>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="submit_component">
        <input type="submit" name="submit_results" id="submit_button" value="Add selected agents" {% if submit_disabled
            %}disabled{% endif %}>
    </section>
</form>

{% endblock %}

{% block output_window %}
<h2 class="title">My Components</h2>
<form action="component_tab" method="post">
    <div class="components">
        {% for i in all_components %}
        <p>{{ i }}</p>
        {% endfor %}
    </div>
</form>
{% endblock %}