{% extends "base.html" %}

{% block title %}
Data Collector
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block data_collector %}
style="color:#5E17EB;"
{% endblock %}

{% block input_fields %}
<form action="/dataCollector" method="post" class="input_param_form">
    <section class="form_title">
        <label for="Name_of_component">Data Collector</label>
        <input required type="text" name="dataCollector_inp1" id="Name_of_component" value="{{ compName }}">
    </section>
    <section class="form_attributes">
        <label for="Component_attributes_form" id="inner_title">Select Complex Agents</label>
        <div id="attribute">
            {% for agent in complex_agents %}
            <label>
                <input type="radio" name="selected_agents" value="{{ agent }}" required>
                {{ agent }}
            </label><br>
            {% endfor %}
        </div>
    </section>
    <section class="submit_component">
        <input type="submit" name="submit_results" id="submit_button" value="Add selected agents">
    </section>
</form>
{% endblock %}

{% block output_window %}
<h2 class="title">My Components</h2>
<form action="component_tab" method="post">
    <div class="components">
        {% for i in all_components %}
        <p>{{ i }}</p>
        {% endfor %}
    </div>
</form>
{% endblock %}